  <!-- <ion-header>
    <ion-toolbar>
      <ion-title>Header</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <h1>Main Content</h1>
  </ion-content>
 -->

  <nav class="navbar navbar-light bg-light">

    <div class="container-fluid d-flex justify-content-between "> 
      <a class="navbar-brand" href="#">
        <img src="https://unsplash.com/photos/Yi9-QIObQ1o" alt="" width="30" height="24" class="d-inline-block align-text-center">
        Bootstrap
      </a>
  
    <form>
      <div class="container-fluid justify-content-end">
        <button class="btn btn-outline-success me-2" type="button">Login</button>
        <button class="btn btn-sm btn-outline-secondary" type="button">Register</button>
      </div>
    </form>
  </div>
  </nav>
   