  <nav class="navbar navbar-transparent bg-transparent">

    <div class="container-fluid d-flex justify-content-between "> 
      <a class="navbar-brand" href="#">
        <img src="../../../assets/img/Dummy logo.jpg" alt="" width="30" height="24" class="d-inline-block align-text-center">
        Attendance
      </a>
  
    <form>
      <div class="container-fluid justify-content-end">
        <button class="btn btn-outline-success me-2" type="button" [routerLink]="['../login']">Login</button>
        <button class="btn btn-sm btn-outline-secondary" type="button" [routerLink]="['../register']">Register</button>
      </div>
    </form>
  </div>
  </nav>