
<ion-header [translucent]="true">
  <!-- <ion-toolbar color="primary">
    <ion-title>
      Ionic Table using Ionic grid component
    </ion-title>
  </ion-toolbar> -->
  <app-nav></app-nav>
</ion-header>

<ion-content class="ion-margin">

<br>
  <!-- <h1>hello,{{admin.name}}</h1> -->
  <h1>Admin Name Here</h1>



  <div class="container">
  <ion-grid class="ion-margin">
    <ion-row class="d-flex text-center">
      <div class = "col-2">No</div>
      <div class="col-3">Full Name</div>
      <div class="col-2">Temperature</div>
      <div class="col-3">Clocking Time </div>
      <div class="col-2">View History</div>
      
      </ion-row>
    <ion-row class="d-flex text-center" *ngFor="let attendance of attendResponse; index as i">
      <div class = "col-2">{{ i + 1 }}</div>
      <div class="col-3">{{ attendance.name }}</div>
      <div class="col-2">{{ attendance.temp }}</div>
        <div class="col-3">{{ attendance.created_at| date :  "dd-MMM-y hh:mm"}}</div>
          <div class="col-2"><a href="**">View History</a></div>
    </ion-row>
  </ion-grid>
  </div>

  <ion-item lines="none">
    <!-- <ion-button color="primary" size="small" slot="end" routerLink="/material">
      Material Design Table
    </ion-button> -->
  </ion-item>
</ion-content>