<!-- <h1>History attendance of {{history[1].emp_id}}</h1> -->

<ion-grid class="ion-margin">
  <ion-row class="d-flex text-center">
    <ion-col>No</ion-col>
    <ion-col>Full Name</ion-col>
    <ion-col>Temperature</ion-col>
    <ion-col>Timestamp</ion-col>
  </ion-row>
  <ion-row *ngFor="let attendance of history; index as i;">
    <ion-col>{{ i + 1 }}</ion-col>
    <ion-col>{{ attendance.name }}</ion-col>
    <ion-col>{{ attendance.temp }}</ion-col>
    <ion-col>{{ attendance.created_at| date :  "dd-MMM-y hh:mm"}}</ion-col>
  </ion-row>
</ion-grid>